@import "tailwindcss";

:root {
  --neutral-full: #FFFFFF;
  --neutral-950: #F5F5F5;
  --neutral-900: #E8E8E8;
  --neutral-800: #BFBFBF;
  --neutral-700: #ABABAB;
  --neutral-600: #969696;
  --neutral-500: #787878;
  --neutral-400: #696969;
  --neutral-300: #4A4A4A;
  --neutral-200: #3B3B3B;
  --neutral-100: #2B2B2B;
  --neutral-50: #1C1C1C;

  --primary-800: #9E75CE;
  --primary-500: #532FB8;

  --secondary-500: #E1376C;
  
  --tertiary-500: #FECA90;
}

@theme {
  --animate-fadeInDot: fadeInDot .5s ease-in-out forwards;

  @keyframes fadeInDot {
    0% {
      transform: translateX(-20px) scale(0);
      opacity: 0;
    }
    100% {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
  }

  --animate-openMenu: openMenu .5s ease-in-out forwards;

  @keyframes openMenu {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  --animate-closeMenu: closeMenu .5s ease-in-out forwards;

  @keyframes closeMenu {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  --animate-showLinks: showLinks 1s ease-in-out forwards;

  @keyframes showLinks {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-slideLeft: slide-left 20s linear infinite alternate;

  @keyframes slide-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  --animate-slideRight: slide-right 20s linear infinite alternate;

  @keyframes slide-right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

@theme inline {
  --font-raleway: var(--font-raleway-sans);
  --font-rubik: var(--font-rubik-sans);
  --font-yeseva: var(--font-yeseva-sans);
  --font-imbue: var(--font-imbue-sans);
  
  --color-neutral-full: var(--neutral-full);
  --color-neutral-950: var(--neutral-950);  
  --color-neutral-900: var(--neutral-900);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-50: var(--neutral-50);
  
  --color-primary-800: var(--primary-800);
  --color-primary-500: var(--primary-500);

  --color-secondary-500: var(--secondary-500);

  --color-tertiary-500: var(--tertiary-500);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-primary-800);
  color: var(--color-primary-500);
  font-family: var(--font-rubik-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.swiper-wrapper {
  align-items: center;
}